<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8" th:remove="tag">
    </head>
    <body>
        <div layout:fragment="content">
            <form th:action="@{/admin/timeline}" th:object="${tweet}" method="post">
                <ul th:if="${errors.hasErrors()}" class="alert alert-danger" role="alert">
                    <li th:each="err : ${errors.getAllErrors()}">
                        <span th:text="${err.defaultMessage}"></span>
                    </li>
                </ul>
                <div class="form-group" th:classappend="${#fields.hasErrors('body')} ? error">
                    <label for="body" class="row h6 mb-2">いま、何しているの？</label>
                    <textarea rows="3" cols="60" th:field="*{body}" class="p-2"></textarea>
                </div>
                <div class="mb-3">
                    <div class="row justify-content-start">
                        <div class="col-3">
                            <input class="btn btn-secondary col-10" type="submit" value="つぶやく">
                        </div>
                    </div>
                </div>
            </form>
            <div th:each="tweet: ${tweets}" th:object="${tweet}">
                <div class="border-bottom">
                    <div class="row justify-content-start">
                        <div class="col-sm-3">
                            <a th:href="@{/admin/tweets/listOfUser/{id}(id=*{user.id})}" class="h6" th:text="*{user.nickname}"></a>
                        </div>
                        <div class="col-sm-3">
                            <a th:href="@{/admin/tweets/favorite/{id}(id=*{id})}" class="h6">お気に入りに追加</a>
                        </div>
                    </div>
                    <p class="mb-1" th:text="*{body}"></p>
                    <div class="mb-3">
                        <a th:href="@{/admin/tweets/individual/{id}(id=*{id})}" class="h6" th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>