<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>マイクロブログ</title>
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md menu-layout border-top border-bottom border-dark p-3">
      <div class="container-fluid mr-auto">
        <div class="navbar-header">
          <a th:href="@{/admin/timeline}" class="h2">マイクロブログ</a>
        </div>
      </div>
    </nav>

    <div sec:authorize="!authenticated" class="container-fluid mt-4">
      <div class="row col-6 main mx-auto justify-content-start">
        <div class="col-sm-3">
          <a th:href="@{/users/login}" class="h6">ログイン</a>
        </div>
        <div class="col-sm-6">
          <a th:href="@{/users/create}" class="h6">新規ユーザ登録</a>
        </div>
      </div>
    </div>
    <div sec:authorize="authenticated" class="container-fluid mt-4">
      <div class="row col-10 main mx-auto justify-content-start">
        <div class="col-sm-2">
          <h1 class="h6">ようこそ、<span th:text="${user.nickname}" class="me-1"></span>さん</h1>
        </div>
        <div class="col-sm-2">
          <a th:href="@{/admin/users/edit}" class="h6">ユーザ情報更新</a>
        </div>
        <div class="col-sm-2">
          <a th:href="@{/admin/users/list}" class="h6">ユーザ一覧</a>
        </div>
        <div class="col-sm-2">
          <a th:href="@{/admin/tweets/listOfFavorite}" class="h6">お気に入り</a>
        </div>
        <div class="col-sm-2">
          <a th:href="@{/admin/users/logout}" class="h6">ログアウト</a>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-sm-10 main mx-auto">
		      <div th:if="${flash}" th:text="${flash.getMessage()}" th:class="${'alert alert-' + flash.getKey()}" role="alert"></div>
        </div>
        <div layout:fragment="content" class="col-sm-10 main mx-auto"></div>
      </div>
    </div>

    <script th:src="@{/js/app.js}"></script>
  </body>
</html>
