<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8" th:remove="tag">
    </head>
    <body>
        <div layout:fragment="content">
            <table class="table table-bordered mt-4">
                <thead class="bg-secondary">
                    <tr>
                        <th>ユーザ名</th>
                        <th>フォロー数</th>
                        <th>フォロワー数</th>
                        <th>フォロー</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userFromAll: ${users}" th:object="${userFromAll}">
                        <td><a th:href="@{/admin/tweets/listOfUser/{id}(id=*{id})}" class="h6" th:text="*{nickname}"></a></td>
                        <td th:text="*{followUser.size()}"></td>
                        <td th:text="*{followingUser.size()}"></td>
                        <td>
                            <span th:unless="${#sets.contains(followinUserIdsSet, __*{id}__)}">
                                <a th:href="@{/admin/users/follow/{id}(id=*{id})}" class="h6">フォローする</a>
                            </span>
                            <span th:if="${#sets.contains(followinUserIdsSet, __*{id}__)}">
                                <div>フォロー中</div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>