<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <meta charset="UTF-8" th:remove="tag">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="page-header h6 mb-4" th:text="${user.nickname} + さんのお気に入り"></h1>
            <div th:each="tweet: ${tweets}" th:object="${tweet}">
                <div class="border-bottom">
                    <div class="row justify-content-start">
                        <div class="col-sm-3">
                            <a th:href="@{/admin/tweets/listOfUser/{id}(id=*{user.id})}" class="h6" th:text="*{user.nickname}"></a>
                        </div>
                        <div class="col-sm-3">
                            <span th:unless="${#sets.contains(favoriteTweetIdsSet, __*{id}__)}">
                                <a th:href="@{/admin/tweets/favorite/{id}(id=*{id})}" class="h6">お気に入りに追加</a>
                            </span>
                        </div>
                    </div>
                    <p class="mb-1" th:text="*{body}"></p>
                    <div class="mb-3">
                        <a th:href="@{/admin/tweets/individual/{id}(id=*{id})}" class="h6" th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>